#div1{
    background-color:"blue";
    color:"white";

}
.div2{
    background-color:"blue";
    color:"white";
}
span{
    background-color: rgb(94, 94, 210) ;
}
h1{
    text-align:center;
}
a{
    list-style-type: none;
}